<ng-sidebar-container  id="container">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" style="width:25%;">
    <div id="sideBar">
      <button id="close_button" closeSidebar>Cerrar menú</button>
      <app-menu></app-menu>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content  id="content">

    <button id="openMenuButton" (click)="_toggleSidebar()"></button>

    <div [@routeAnimations]="o && o.activatedRouteData
      && o.activatedRouteData['animation']">
        <router-outlet #o="outlet"></router-outlet>
    </div>

  </div>

</ng-sidebar-container>
